@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #aeaeae;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-caixa {
    height: 600px;
    width: 550px;
    background-color: #52596b;
    border: 2px solid #646672;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.caixa-sessao-tela {
    height: 400px;
    width: 520px;
    border-radius: 5px;
    background-color: #353944;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.caixa-sessao-teclado {
    height: 160px;
    width: 520px;
    border-radius: 5px;
    background-color: #353944;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sessao-tela-botoes {
    height: 310px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sessao-tela-botoes > div:nth-child(n) {
    height: 100%;
    width: 55px;
}

.sessao-tela-botoes > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sessao-tela-botoes > div:nth-child(1) > button:nth-child(n) {
    height: 40px;
    width: 100%;
    background-color: #d8dad9;
    border-radius: 5px;
    /**box-shadow: 0px 0px 0px 1px rgba(87,87,87,1);*/
    cursor: pointer;
}

.sessao-tela-botoes > div:nth-child(2) {
    width: 380px;
    border: 3px solid #141615;
    border-radius: 5px;
    background-color: #8dd7f2;
}

.sessao-tela-botoes > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sessao-tela-botoes > div:nth-child(3) > button:nth-child(n) {
    height: 40px;
    width: 100%;
    background-color: #d8dad9;
    border-radius: 5px;
    /**box-shadow: 0px 0px 0px 1px rgba(87,87,87,1);*/
    cursor: pointer;
}


.sessao-tela-boca-caixa {
    height: 20px;
    width: 300px;
    background-color: #141615;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-tela-boca-caixa > div:nth-child(1) {
    height: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: #43af49;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-tela-boca-caixa > div:nth-child(1) > div:nth-child(1) {
    height: 1px;
    width: 100px;
    background-color: #141615;
    border-radius: 5px;
}

.caixa-sessao-teclado > div:nth-child(1) {
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.caixa-sessao-teclado > div:nth-child(1) > div:nth-child(n) > button:nth-child(4) {
    margin-left: 15px;
}

.button {
    height: 35px;
    width: 60px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #d8dad9;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #141615;
    /**box-shadow: 0px 0px 0px 1px rgba(87,87,87,1);*/
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
}

.button:active {
    scale: 0.95;
}

#button-confirma {
    background-color: #35b44d;
    font-size: 14px;
}

#button-cancela {
    background-color: #ec1d23;
    font-size: 14px;
}

#button-corrige {
    background-color: #fcd402;
    font-size: 14px;
}

.oculto {
    color: transparent;
}

/** Configurações de Tela */
#tela-caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    color: #141615c9;
    font-weight: bolder;
    font-family: "Share Tech Mono", monospace;
    user-select:none;  
}

#tela-caixa-vazia {
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/** Tela de Operações */
#tela-caixa-operacoes {
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#tela-caixa-operacoes > h1 {
    font-size: 20px;
    margin-top: 5px;
}

#tela-caixa-operacoes > div:nth-child(n) {
    height: 100%;
    width: 100%;
    display: flex;
}

#tela-caixa-operacoes > div:nth-child(n) > div:nth-child(1) {
    height: 100%;
    width: 50%;
}

#tela-caixa-operacoes > div:nth-child(n) > div:nth-child(2) {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 27px;
    gap: 20px;
}

#tela-caixa-operacoes > div:nth-child(n) > div:nth-child(2) > div:nth-child(n) {
    width: 90%;
    height: 30px;
    border: 1px solid #006e96d2;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tela-caixa-operacoes > div:nth-child(n) > div:nth-child(2) > div:nth-child(n) > p {
    font-size: 14px;
    font-weight: bolder;
}

/** Tela Saldo & Extratos */
#tela-caixa-saldo-extrato {
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#tela-caixa-saldo-extrato > h1 {
    font-size: 20px;
    margin-top: 5px;
}

#tela-caixa-saldo-extrato > div:nth-child(n) {
    height: 100%;
    width: 100%;
    display: flex;
}

#tela-caixa-saldo-extrato > div:nth-child(n) > div:nth-child(1) {
    height: 100%;
    width: 50%;
}

#tela-caixa-saldo-extrato > div:nth-child(n) > div:nth-child(2) {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 27px;
    gap: 20px;
}

#tela-caixa-saldo-extrato > div:nth-child(n) > div:nth-child(2) > div:nth-child(n) {
    width: 90%;
    height: 30px;
    border: 1px solid #006e96d2;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tela-caixa-saldo-extrato > div:nth-child(n) > div:nth-child(2) > div:nth-child(n) > p {
    font-size: 14px;
    font-weight: bolder;
}




