@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
    font-style: normal;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-caixa {
    height: 100%;
    width: 70%;
    border-right: 1px solid #5a5b5d;
    background-color: #3b84a4;
    padding-top: 10px;
    color: #131514da;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.corpo-caixa-eletronico {
    height: 590px;
    width: 500px;
    padding: 10px;
    background-image: radial-gradient(circle, #d8d9db, #c0c1c4, #a9aaad, #939497, #7d7e82);
    border: 1px solid #8E8F91;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1em 0.1em 0.05em #515352;
    gap: 10px;
}

#content-tela {
    height: 300px;
    width: 100%;
    background-image: linear-gradient(to right bottom, #003b5d, #004266, #01496f, #005079, #005782);
    border: 1px solid #071c51;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sessao-tela {
    height: 280px;
    width: 74%;
    background-color: #8cd7f7;
    padding: 3px;
    border: 10px solid #0d1719;
    border-radius: 3px;
    user-select: none;
}

/* Inicio sessão de customização de telas */
.sessao-tela .tela-vazia {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #002d3f;
}

.sessao-tela .tela-opcoes {
    width: 100%;
    height: 100%;
    display: flex;
}

.sessao-tela .tela-opcoes > div:nth-child(1) {
    width: 50%;
    height: 100%;
}

.sessao-tela .tela-opcoes > div:nth-child(2) {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 41px;
}

.sessao-tela .tela-opcoes > div:nth-child(2) > div:nth-child(n) {
    width: 90%;
    padding: 2px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #f1f0f0;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.sessao-tela .tela-opcoes > div:nth-child(2) > div:nth-child(n) > p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #002d3f;
    width: 90%;
    text-align: center;
}

.sessao-tela .tela-opcoes > div:nth-child(2) > div:nth-child(n) > i {
    font-size: 0.8rem;
    font-weight: 600;
    color: #002d3f;
    width: 10%;
    text-align: center;
}
/* Fim sessão de customização de telas */

.sessao-btns {
    height: 300px;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sessao-btns button {
    height: 36px;
    width: 52px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #d8d9db;
    font-size: 0.0rem;
    color: transparent;
}

#content-boca-caixa {
    height: 90px;
    width: 80%;
    background-color: #b4b5b9;
    border: 2px solid #8d8e90;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boca-de-caixa {
    height: 40px;
    width: 90%;
    background-color: #005782;
    border: 2px solid #0b1b57;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boca-de-caixa div:nth-child(1) {
    height: 10px;
    width: 90%;
    background-color: #0d1719;
    border-radius: 3px;
}

#content-teclado {
    height: 290px;
    width: 100%;
    background-color: #002d3f;
    border: 1px solid #071c51;
    border-radius: 5px;
    padding: 5px;
}

#teclado-borda {
    height: 100%;
    width: 100%;
    background-color: #005782;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#teclado {
    height: 95%;
    padding-left: 10px;
    padding-right: 10px;
    background-image: radial-gradient(circle, #c9cacc, #bdbfc1, #b2b3b6, #a7a8ac, #9c9da1);
    border: 1px solid #626d6f;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#teclado > div:nth-child(1) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#teclado > div:nth-child(1) > div:nth-child(n) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#teclado > div:nth-child(2) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btnsNum {
    height: 34px;
    width: 50px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #d8d9db;
    font-size: 1rem;
    font-weight: 600;
    transform: scale(1);
}

#btnRed {
    background-color: #ef1c23;
    font-size: 0.0rem;
    color: transparent;
}

#btnYellow {
    background-color: #f9d706;
    font-size: 0.0rem;
    color: transparent;
}

#btnGreen {
    background-color: #3db44c;
    font-size: 0.0rem;
    color: transparent;
}

.btnsNum:active {
    transform: scale(0.95);
}

.content-info {
    height: 100%;
    width: 30%;
    background-color: #a0bbc6;
    padding-top: 10px;
    color: #131514da;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#tela-info {
    height: 60vh;
    width: 95%;
    padding: 3px;
    background-color:#f1f0f0;
    border-radius: 5px;
    border: 1px solid #5a5b5d;
    overflow:auto;
}

#tela-info::-webkit-scrollbar {
    width: 7px;       
}
  
#tela-info::-webkit-scrollbar-track {
    background: #FFFFFF;
}
  
#tela-info::-webkit-scrollbar-thumb {
    background-color: #5a5b5d;    
    border-radius: 5px;      
    cursor: pointer;
}

#tela-dados {
    height: 30vh;
    width: 95%;
    padding: 3px;
    background-color:#f1f0f0;
    border-radius: 5px;
    border: 1px solid #5a5b5d;
}

.conteudo-info > table {
    width: 100%;
}

.conteudo-info > table thead th {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 2px;
}

.conteudo-info > table tbody td {
    font-size: 0.8rem;
    padding: 2px;
    border-bottom: 1px solid #5a5b5d11;
}

.titulo {
    color: #131514;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #f1f0f0;
}

#titulo {
    color: #f1f0f0;
    text-shadow: 0.1em 0.1em 0.05em #131514;
}

.cabecalho-info {
    width: 100%;
    text-align: center;
}